div.form {
  margin-top: 75px;
}

div.card {
  color: black;
}

input{
  background-color: #111111;
  color: gray;
  /* height: 50px; */
}

::ng-deep .mat-form-field-label {
  /*change color of label*/
  color: white !important;
  font-size: 13px !important;
}
::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  /* color: gray !important; */
}
::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: white !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: white !important;
}


mat-form-field {
  width: 400px;
  overflow: hidden;
}

::ng-deep.mat-option {
  color: white !important;
  background-color: #202020 !important;
  height: 100px !important;
}

::ng-deep.mat-option:hover {
  background-color: #666666 !important;
}

img.arrow {
  -webkit-transform:rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-top: 50px;

  height: 200px;
  width: 100px;
}

p.info {
  padding-top: 35px;
  color: gray;
  font-size: 13px;
}

@media only screen and (max-width: 700px) {
  img.arrow {
    height: 150px;
    width: 75px;
  }

  mat-form-field {
    width: 300px;
  }

}
