<app-change-mode-bar></app-change-mode-bar>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class = "form" fxFlex="600px" fxFlex.xs="100" fxFlexOffset.xs="0" fxFlexOffset="calc(50% - 300px)" fxLayout="column" style="padding: 10px;">
      <mat-form-field [@.disabled]="true" dense>
        <input [formControl]="searchCountriesCtrl" type="text" placeholder="Search for countries" aria-label="Number" matInput [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option #search *ngFor="let item of countriesAutoComplete$ | async; let i = index" [value]="item.name" (click)="displayInfo(i)">
            <img src="{{item.flag}}" width="35px" alt="{{item.name}} Flag">
            {{ item.name | titlecase}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </div>

  <div *ngIf="!countryData" class="arrow">
    <div class="row justify-content-center">
      <img class="arrow" src="../../assets/gray-arrow.png" width="200px" alt="White arrow pointing to search input">
    </div>
    <div class="row justify-content-center info">
      <p class="info">Use the search bar to learn about any country.</p>
    </div>

  </div>

  <div *ngIf="countryData" class="learn-more">
    <div class="row justify-content-center">
      <div class="col info">
        <app-search-info [country]="countryData[0]"></app-search-info>
      </div>
    </div>
  </div>

</div>


